<div layout='column' layout-fill layout-align='center top'>
    <div layout='row' layout-align='center center'>
        <h3>Login or <a href='/register'>Sign up</a></h3>
    </div>
    <div layout='row' layout-align='center center'>
        <form name='loginForm' ng-submit='vm.submit()' id='loginForm'>
            <div layout='column'>
                <md-input-container>
                    <label>email</label>
                    <input type='email' ng-model='vm.email' class='form-control' name='email' id='emailField' required>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type='password' class='form-control' ng-model='vm.password' id='passwordField' required>
                </md-input-container>

                <md-button class='md-primary md-raised' type='submit' id='loginButton'>Login</md-button>

                <div layout='row' layout-align='center center'>
                    <br />
                    <div class='strike' style='width:100%'>
                        <span>Or</span>
                    </div>
                    <br />
                </div>
            </div>
        </form>
    </div>
    <div layout='row' layout-align='center center'>
        <md-button ng-click='vm.authenticate("google")' class='md-raised' type='button' style='background-color:#C23321;color:#FFF;margin-left:9px;margin-right:9px'>
            <i class='fa fa-google-plus'>
                    Google
                </i>
        </md-button>
        <md-button ng-click='vm.authenticate("facebook")' class='md-raised' type='button' style='background-color:#2D4373;color:#FFF;margin-left:9px;margin-right:9px'>
            <i class='fa fa-facebook'> Facebook</i>
        </md-button>
    </div>
</div>