<md-tabs md-dynamic-height md-border-bottom md-stretch-tabs='always'>
    <md-tab label='Accueil'>
        <md-tab-body class='md-padding' id='contentTab1Id'>
            <div style='display:table'>
                <div style='display:table-cell;width:40%;vertical-align:middle'>
                    <div style='text-align:center' id='corinnepairelasjunies'>CORINNE PAIRE LASJUNIES</div>
                    <div style='text-align:center;color:red' id='artistepeintre'>ARTISTE PEINTRE</div>
                </div>
                <div style='display:table-cell;width:60%'>
                    <img ng-src='/_assets/pictures/atelier-princeton.png' style='max-height:100%;max-width:100%' />
                </div>
            </div>
        </md-tab-body>
    </md-tab>
    <md-tab label='Gallery'>
        <md-tab-body class=' md-padding' id='contentTab2Id'>
            <!--1<h1 class='md-display-2'>Tab Two</h1>-->
            <!--<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>-->
            <div layout='row'>
                <div layout='column'>
                    <!--<div ng-repeat='picture in vm.pictures' style='width:250px;height:250px'>
                            <img ng-src='/_assets/pictures/{{picture}}' alt='{{picture}}' style='max-width:100%;max-height:100%;' />
                        </div>-->
                    <md-grid-list>
                        <md-grid-tile ng-class='{' green ':user.active,'gray ':!user.active}' ng-repeat='user in vm.usersView' ng-click='vm.onClick(user._id);'>
                            {{user.email}}
                            <md-grid-tile-footer>
                                <h3>{{user.displayName}}</h3>
                                <h3>{{user.role}}</h3>
                            </md-grid-tile-footer>
                        </md-grid-tile>
                    </md-grid-list>
                </div>
            </div>
            <!--<md-grid-list class='gridListdemoBasicUsage md-padding' md-cols-sm='2' md-cols-md='3' md-cols-gt-md='5' md-row-height-gt-md='1:1' md-row-height='2:2'
                          md-gutter='5px'>-->
            <!--</md-grid-tile>-->
            <!--</md-grid-list>-->
        </md-tab-body>
    </md-tab>
    <md-tab label='Exposition/Presse'>
        <md-tab-body class='md-padding' id='contentTab2Id'>
            <h1 class='md-display-2'>Tab Three</h1>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum.
                Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum
                nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque,
                finibus commodo lectus.</p>
        </md-tab-body>
    </md-tab>
    <md-tab label='Biographie'>
        <md-tab-body class='md-padding'>
            <h1 class='md-display-2'>Tab Three</h1>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum.
                Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum
                nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque,
                finibus commodo lectus.</p>
        </md-tab-body>
    </md-tab>
    <md-tab label='Contact'>
        <md-tab-body class='md-padding'>
            <h1 class='md-display-2'>Tab Three</h1>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum.
                Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum
                nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque,
                finibus commodo lectus.</p>
        </md-tab-body>
    </md-tab>
</md-tabs>